<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>
            <div class="row text-center align-items-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                    
                    <h2 class="section-title">Dig With Us!
                            <span>HASH FACTORY</span>
                        </h2>
                        <img class="logo logo-dark" alt="logo" src="/images/logo-white.png" srcset="/images/logo-white2x.png 2x">
                    </div>
                    </div>
                    </br>
                </div><!-- .row  -->
           </br>
